body {
    
    background-image: url(../image/fondo.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size :cover;
   

}

#t1{

    
    width: 32%;
    height:40%;
    color:#fcf9f9  ;
    margin:auto;
    font-size: 50px;
    margin-top: 15px;
}


#l1{

    background-color: rgba(250, 250, 250, 0.6);
    width: 45%;
    color:#000000  ;
    padding:10px;
    margin:auto;
    margin-top:25px;
    border-radius: 10px;
   
}

#t2{

   
    width: 28%;
    color:#ffffff  ;
    margin:auto;
    margin-top:25px;
    font-size: 50px;
}


#l2{

    background-color: rgba(250, 250, 250, 0.6);
    width:45%;
    color:#000000;
    padding:10px;
    margin:auto;
    margin-top:25px;
    border-radius:10px;
    
}


#t3{

    width: 11%;
    color:#ffffff;
    margin:auto;
    margin-top:25px;
    font-size: 50px;
}


#l3{

    background-color: rgba(250, 250, 250, 0.6);
    width:45%;
    color:#000000;
    padding:10px;
    margin:auto;
    margin-top:25px;
    border-radius:10px;
   
}

#t4{

    width: 50%;
    color:#ffffff  ;
    margin:auto;
    margin-top:25px;
    font-size: 40px;
}


#l4{

    background-color: rgba(250, 250, 250, 0.6);
    width:45%;
    color:#000000;
    padding:10px;
    margin:auto;
    margin-top:25px;
    border-radius:10px;
    
}
